In [34]:
import pandas as pd
import numpy as np
from ydata_profiling import ProfileReport
from sklearn.preprocessing import LabelBinarizer, OneHotEncoder
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier

data = pd.read_csv("./../data/census.csv", skipinitialspace = True)
data.sample(10)

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
25757,25,Private,312338,Assoc-voc,11,Never-married,Craft-repair,Unmarried,Amer-Indian-Eskimo,Male,0,0,40,United-States,<=50K
4328,30,Private,195750,HS-grad,9,Never-married,Handlers-cleaners,Own-child,White,Male,0,0,27,United-States,<=50K
2943,28,State-gov,107218,Bachelors,13,Never-married,Tech-support,Own-child,Asian-Pac-Islander,Male,0,0,20,United-States,<=50K
10423,59,Self-emp-not-inc,41258,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
23273,22,Private,127768,Some-college,10,Never-married,Other-service,Own-child,White,Male,0,0,32,United-States,>50K
31752,37,Private,140673,Some-college,10,Married-civ-spouse,Sales,Wife,White,Female,0,0,40,United-States,>50K
7576,40,?,180362,Bachelors,13,Never-married,?,Own-child,White,Female,0,0,40,United-States,<=50K
17307,37,Private,239171,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,>50K
3398,34,Private,173730,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,50,United-States,>50K
435,33,Private,208405,Masters,14,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,>50K

In [37]:
data.sample(10).to_json("test.json")

`Removing Extra Whitespace from Whole DataFrame by Creating some code :`

######## Importing required libraries
import pandas as pd
 
######## Creating DataFrame having 4 columns and but
######## the data is in unregularized way.

def whitespace_remover(dataframe):
   
    ######## iterating over the columns
    for i in dataframe.columns:
         
        ######## checking datatype of each columns
        if dataframe[i].dtype == 'object':
             
            ######## applying strip function on column
            dataframe[i] = dataframe[i].map(str.strip)
        else:
             
            ######## if condn. is False then it will do nothing.
            pass
 
######## applying whitespace_remover function on dataframe
whitespace_remover(df)
 
######## printing dataframe
print(df)

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlgt           32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
data.describe()

,age,fnlgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

In [ ]:
profile = ProfileReport(data, title="Pandas Profiling Report")
profile.to_widgets()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render widgets:   0%|          | 0/1 [00:00<?, ?it/s]

VBox(children=(Tab(children=(Tab(children=(GridBox(children=(VBox(children=(GridspecLayout(children=(HTML(valu…

In [4]:
data.drop_duplicates(inplace=True)
data.drop(['capital-gain', 'capital-loss'], axis=1, inplace=True)
train, test = train_test_split(data, test_size=0.20, random_state=42)

def process_data(
    X, categorical_features=[], label=None, training=True, encoder=None, lb=None
):
    """ Process the data used in the machine learning pipeline.

    Processes the data using one hot encoding for the categorical features and a
    label binarizer for the labels. This can be used in either training or
    inference/validation.

    Note: depending on the type of model used, you may want to add in functionality that
    scales the continuous data.

    Inputs
    ------
    X : pd.DataFrame
        Dataframe containing the features and label. Columns in `categorical_features`
    categorical_features: list[str]
        List containing the names of the categorical features (default=[])
    label : str
        Name of the label column in `X`. If None, then an empty array will be returned
        for y (default=None)
    training : bool
        Indicator if training mode or inference/validation mode.
    encoder : sklearn.preprocessing._encoders.OneHotEncoder
        Trained sklearn OneHotEncoder, only used if training=False.
    lb : sklearn.preprocessing._label.LabelBinarizer
        Trained sklearn LabelBinarizer, only used if training=False.

    Returns
    -------
    X : np.array
        Processed data.
    y : np.array
        Processed labels if labeled=True, otherwise empty np.array.
    encoder : sklearn.preprocessing._encoders.OneHotEncoder
        Trained OneHotEncoder if training is True, otherwise returns the encoder passed
        in.
    lb : sklearn.preprocessing._label.LabelBinarizer
        Trained LabelBinarizer if training is True, otherwise returns the binarizer
        passed in.
    """

    if label is not None:
        y = X[label]
        X = X.drop([label], axis=1)
    else:
        y = np.array([])

    X_categorical = X[categorical_features].values
    X_continuous = X.drop(categorical_features, axis=1)

    if training is True:
        encoder = OneHotEncoder(sparse=False, handle_unknown="ignore")
        lb = LabelBinarizer()
        X_categorical = encoder.fit_transform(X_categorical)
        y = lb.fit_transform(y.values).ravel()
    else:
        if encoder is None or lb is None:
            raise ValueError("Encoder and LabelBinarizer must be provided in training=False mode.")
        X_categorical = encoder.transform(X_categorical)
        try:
            y = lb.transform(y.values).ravel()
        # Catch the case where y is None because we're doing inference.
        except AttributeError:
            pass

    X = np.concatenate([X_continuous, X_categorical], axis=1)
    return X, y, encoder, lb


cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]

X_train, y_train, encoder, lb = process_data(
    train, categorical_features=cat_features, label="salary", training=True
)
X_test, y_test, _, _ = process_data(
    test, categorical_features=cat_features, label="salary", training=False, encoder=encoder, lb=lb
)

/Users/tajmohammad/opt/anaconda3/envs/udacity/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [5]:
def train_model(X_train, y_train):
    """
    Trains a machine learning model and returns it.

    Inputs
    ------
    X_train : np.array
        Training data.
    y_train : np.array
        Labels.
    Returns
    -------
    model
        Trained machine learning model.
    """

    clf_model = DecisionTreeClassifier(random_state=42)
    clf_model = clf_model.fit(X_train, y_train)
    return clf_model

model = train_model(X_train, y_train)
y_pred = model.predict(X_test)
y_pred

array([1, 0, 1, ..., 0, 0, 1])

In [6]:
from sklearn.metrics import fbeta_score, precision_score, recall_score

def compute_model_metrics(y, preds):
    """
    Validates the trained machine learning model using precision, recall, and F1.

    Inputs
    ------
    y : np.array
        Known labels, binarized.
    preds : np.array
        Predicted labels, binarized.
    Returns
    -------
    precision : float
    recall : float
    fbeta : float
    """
    fbeta = fbeta_score(y, preds, beta=1, zero_division=1)
    precision = precision_score(y, preds, zero_division=1)
    recall = recall_score(y, preds, zero_division=1)
    return precision, recall, fbeta

In [7]:
fbeta, precision, recall = compute_model_metrics(y_test, y_pred)

In [8]:
recall

0.565979698554291

def evaluate_model(model, x_test, y_test):
    from sklearn import metrics

    # Predict Test Data 
    y_pred = model.predict(x_test)

    # Calculate accuracy, precision, recall, f1-score, and kappa score
    acc = metrics.accuracy_score(y_test, y_pred)
    prec = metrics.precision_score(y_test, y_pred)
    rec = metrics.recall_score(y_test, y_pred)
    f1 = metrics.f1_score(y_test, y_pred)
    kappa = metrics.cohen_kappa_score(y_test, y_pred)

    # Calculate area under curve (AUC)
    y_pred_proba = model.predict_proba(x_test)[::,1]
    fpr, tpr, _ = metrics.roc_curve(y_test, y_pred_proba)
    auc = metrics.roc_auc_score(y_test, y_pred_proba)

    # Display confussion matrix
    cm = metrics.confusion_matrix(y_test, y_pred)

    return {'acc': acc, 'prec': prec, 'rec': rec, 'f1': f1, 'kappa': kappa, 
            'fpr': fpr, 'tpr': tpr, 'auc': auc, 'cm': cm}

In [11]:
from joblib import dump

# Assuming you have a trained model named 'model'
# Save the model to a file
# dump(model, './../model/model.joblib')
def save_trained_model(trained_model_clf, path_to_save: str):
    dump(trained_model_clf, path_to_save)

['./../model/model.joblib']

In [15]:
save_trained_model(model, './../model/trained_model.joblib')

In [51]:
import pandas as pd
import pytest
from ml.model import train_model, save_trained_model, compute_model_metrics, inference
from sklearn.model_selection import train_test_split
from ml.data import process_data




df = pd.DataFrame(
    {
    "age":{"0":30,"1":23,"2":32,"3":24,"4":50,"5":46,"6":42,"7":32,"8":21,"9":26},
    "workclass":{"0":"Never-worked","1":"Private","2":"Private","3":"Private","4":"Private","5":"Private","6":"Self-emp-not-inc","7":"Private","8":"?","9":"Local-gov"},
    "fnlgt":{"0":176673,"1":56774,"2":61898,"3":34568,"4":175339,"5":58683,"6":175674,"7":196342,"8":278391,"9":103148},
    "education":{"0":"HS-grad","1":"HS-grad","2":"11th","3":"Assoc-voc","4":"HS-grad","5":"Bachelors","6":"HS-grad","7":"Doctorate","8":"Some-college","9":"HS-grad"},
    "education-num":{"0":9,"1":9,"2":7,"3":11,"4":9,"5":13,"6":9,"7":16,"8":10,"9":9},
    "marital-status":{"0":"Married-civ-spouse","1":"Never-married","2":"Divorced","3":"Never-married","4":"Married-civ-spouse","5":"Married-civ-spouse","6":"Married-civ-spouse","7":"Never-married","8":"Never-married","9":"Never-married"},
    "occupation":{"0":"?","1":"Craft-repair","2":"Other-service","3":"Transport-moving","4":"Handlers-cleaners","5":"Exec-managerial","6":"Sales","7":"Prof-specialty","8":"?","9":"Adm-clerical"},
    "relationship":{"0":"Wife","1":"Own-child","2":"Unmarried","3":"Not-in-family","4":"Husband","5":"Husband","6":"Husband","7":"Not-in-family","8":"Own-child","9":"Not-in-family"},
    "race":{"0":"Black","1":"White","2":"White","3":"White","4":"White","5":"White","6":"White","7":"White","8":"White","9":"White"},
    "sex":{"0":"Female","1":"Male","2":"Female","3":"Male","4":"Male","5":"Male","6":"Male","7":"Male","8":"Male","9":"Female"},
    "capital-gain":{"0":0,"1":7688,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":7688},
    "capital-loss":{"0":0,"1":0,"2":0,"3":0,"4":0,"5":0,"6":0,"7":0,"8":0,"9":0},
    "hours-per-week":{"0":40,"1":40,"2":15,"3":40,"4":40,"5":55,"6":60,"7":40,"8":16,"9":40},
    "native-country":{"0":"United-States","1":"United-States","2":"United-States","3":"United-States","4":"United-States","5":"United-States","6":"United-States","7":"United-States","8":"United-States","9":"United-States"},
    "salary":{"0":"<=50K","1":"<=50K","2":"<=50K","3":"<=50K","4":">50K","5":">50K","6":"<=50K","7":">50K","8":"<=50K","9":"<=50K"}
    }
)

df.head()

,age,workclass,fnlgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,30,Never-worked,176673,HS-grad,9,Married-civ-spouse,?,Wife,Black,Female,0,0,40,United-States,<=50K
1,23,Private,56774,HS-grad,9,Never-married,Craft-repair,Own-child,White,Male,7688,0,40,United-States,<=50K
2,32,Private,61898,11th,7,Divorced,Other-service,Unmarried,White,Female,0,0,15,United-States,<=50K
3,24,Private,34568,Assoc-voc,11,Never-married,Transport-moving,Not-in-family,White,Male,0,0,40,United-States,<=50K
4,50,Private,175339,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,White,Male,0,0,40,United-States,>50K

In [52]:
data = df
# Droping duplicate rows
data.drop_duplicates(inplace=True)
# Removing 2 unneeded columns
data.drop(['capital-gain', 'capital-loss'], axis=1, inplace=True)
# Optional enhancement, use K-fold cross validation instead of a train-test split.
train, test = train_test_split(data, test_size=0.20)
# Proces the test data with the process_data function.
cat_features = [
    "workclass",
    "education",
    "marital-status",
    "occupation",
    "relationship",
    "race",
    "sex",
    "native-country",
]

X_train, y_train, encoder, lb = process_data(
    train, categorical_features=cat_features, label="salary", training=True
)

/Users/tajmohammad/opt/anaconda3/envs/udacity/lib/python3.8/site-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [59]:
test.shape[1]

13

In [73]:
lb.y_type_ == 'binary'

True